Task 2: Movie Rating Prediction

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [3]:
df = pd.read_csv('IMDb_Movies_India.csv')

In [4]:
df.isnull().sum()

Name           0
Year         528
Duration    8269
Genre       1877
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [5]:
df.shape

(15509, 10)

In [6]:
df.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),-2019.0,109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,-2021.0,90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,-2019.0,110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,-2010.0,105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [7]:
df.head(50)

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),-2019.0,109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,-2021.0,90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,-2019.0,110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,-2010.0,105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
5,...Aur Pyaar Ho Gaya,-1997.0,147 min,"Comedy, Drama, Musical",4.7,827,Rahul Rawail,Bobby Deol,Aishwarya Rai Bachchan,Shammi Kapoor
6,...Yahaan,-2005.0,142 min,"Drama, Romance, War",7.4,"1,086",Shoojit Sircar,Jimmy Sheirgill,Minissha Lamba,Yashpal Sharma
7,.in for Motion,-2008.0,59 min,Documentary,NaN,NaN,Anirban Datta,NaN,NaN,NaN
8,?: A Question Mark,-2012.0,82 min,"Horror, Mystery, Thriller",5.6,326,Allyson Patel,Yash Dave,Muntazir Ahmad,Kiran Bhatia
9,@Andheri,-2014.0,116 min,"Action, Crime, Thriller",4.0,11,Biju Bhaskar Nair,Augustine,Fathima Babu,Byon
10,1:1.6 An Ode to Lost Love,-2004.0,96 min,Drama,6.2,17,Madhu Ambat,Rati Agnihotri,Gulshan Grover,Atul Kulkarni
11,1:13:7 Ek Tera Saath,-2016.0,120 min,Horror,5.9,59,Arshad Siddiqui,Pankaj Berry,Anubhav Dhir,Hritu Dudani
12,100 Days,-1991.0,161 min,"Horror, Romance, Thriller",6.5,983,Partho Ghosh,Jackie Shroff,Madhuri Dixit,Javed Jaffrey
13,100% Love,-2012.0,166 min,"Comedy, Drama, Romance",5.7,512,Rabi Kinagi,Jeet,Koyel Mallick,Sujoy Ghosh
14,101 Ratein,-1990.0,NaN,Thriller,NaN,NaN,Harish,Saraswati,Disco Shanti,NaN
15,102 Not Out,-2018.0,102 min,"Comedy, Drama",7.4,"6,619",Umesh Shukla,Amitabh Bachchan,Rishi Kapoor,Vijay Raaz
16,108 Limited,NaN,NaN,NaN,NaN,NaN,Anand Anddy,Vijay Raaz,Sanjay Mishra,Brahmanandam
17,108 Teerthyatra,-1987.0,NaN,"Comedy, Drama, Fantasy",NaN,NaN,Rajpati,Pravin Anand,Nayan Bhatt,Jeetu
18,10ml LOVE,-2010.0,87 min,"Comedy, Drama, Romance",6.3,162,Sharat Katariya,Neil Bhoopalam,Anusha Bose,Manu Rishi Chadha
19,11 O'Clock,-1948.0,NaN,NaN,NaN,NaN,Homi Wadia,Aftab,Sayani Atish,Austin Ki Bachchi
20,12 Bulbule,-2021.0,NaN,"Comedy, Drama, Family",NaN,NaN,Jagat Joon,Sonu Sonkar,Sunita Verman,Anubhav Dixit
21,12 O'Clock,-1958.0,132 min,"Crime, Drama, Mystery",7.2,72,Pramod Chakravorty,Guru Dutt,Waheeda Rehman,Shashikala
22,12 O'Clock,-2021.0,105 min,"Horror, Thriller",4.4,63,Ram Gopal Varma,Mithun Chakraborty,Makrand Deshpande,Dalip Tahil
23,12 Years,NaN,NaN,Biography,NaN,NaN,Sohail Tatari,NaN,NaN,NaN
24,124a,-2021.0,NaN,Documentary,NaN,NaN,Varrun Sukhraj,NaN,NaN,NaN
25,127 B,-2017.0,116 min,"Comedy, Horror",6.6,26,Seshu Kmr,Mast Ali,Aziz Naser,Heena Shaik
26,13 May Gulaabi Nagar,-2010.0,NaN,Action,NaN,NaN,N.K. Pareek,Nirmal Pandey,Khushi Rajpoot,Raj Singh Verma
27,13 Tribute of Love,-2020.0,66 min,Drama,NaN,NaN,Rahul Tiwari,Rahul Tiwari Adhiyari,Anil Arora,Asima Bhatt
28,13B: Fear Has a New Address,-2009.0,146 min,"Drama, Horror, Mystery",7.3,"6,329",Vikram K. Kumar,Madhavan,Neetu Chandra,Poonam Dhillon
29,14 Phere,-2021.0,NaN,Comedy,NaN,NaN,Devanshu Singh,Vikrant Massey,Kriti Kharbanda,Gauahar Khan
30,15 Park Avenue,-2005.0,116 min,Drama,7.1,"1,002",Aparna Sen,Shabana Azmi,Konkona Sen Sharma,Rahul Bose
31,150 Seconds Ago,-2002.0,112 min,NaN,NaN,NaN,Batul Mukhtiar,NaN,NaN,NaN
32,15th August,-1993.0,168 min,Drama,5.6,15,Vicky Ranawat,Ronit Roy,Tisca Chopra,Shakti Kapoor
33,16-Dec,-2002.0,158 min,"Action, Thriller",6.9,"1,235",Mani Shankar,Milind Soman,Danny Denzongpa,Gulshan Grover
34,18.11,-2014.0,126 min,Action,3.5,10,Mohibul Haque,Rehal Khan,Gulshan Grover,Mukesh Tiwari
35,1857,-1946.0,NaN,"Drama, History",5.0,8,Mohan Sinha,Nigar Sultana,Suraiya,Menaka Devi
36,19 Revolutions,-2004.0,94 min,Drama,4.5,16,Sridhar Reddy,Tarun Arora,Gulshan Grover,Vinay Pandey
37,1911,NaN,NaN,"Drama, History, Sport",NaN,NaN,Nikkhil Advani,John Abraham,NaN,NaN
38,1920,-2008.0,138 min,"Horror, Mystery, Romance",6.4,"3,100",Vikram Bhatt,Rajniesh Duggall,Adah Sharma,Anjori Alagh
39,1920 London,-2016.0,120 min,"Horror, Mystery",4.1,"1,559",Dharmendra Suresh Desai,Sharman Joshi,Meera Chopra,Vishal Karwal
40,1920: Evil Returns,-2012.0,124 min,"Drama, Horror, Romance",4.8,"1,811",Bhushan Patel,Vicky Ahuja,Tia Bajpai,Tarakesh Chauhan
41,1921,-2018.0,144 min,"Horror, Mystery, Romance",4.5,"1,069",Vikram Bhatt,Zareen Khan,Karan Kundra,Vikram Bhatt
42,1942: A Love Story,-1994.0,157 min,"Action, Drama, History",7.2,"3,223",Vidhu Vinod Chopra,Anil Kapoor,Jackie Shroff,Manisha Koirala
43,1971,-2007.0,136 min,"Action, Drama, War",8.1,"1,892",Amrit Sagar,Manoj Bajpayee,Ravi Kishan,Deepak Dobriyal
44,1978: A Teen Night Out,-2019.0,107 min,Thriller,4.0,20,Aziz Zee,Abuzar Akhtar,Apurva Godbole,Vaishnavi Kadam
45,1982 - A Love Marriage,-2017.0,113 min,Comedy,5.5,106,Prashant Gore,Amitkumar Sharma,Omna,Rita Agarwal
46,19th January,-2014.0,NaN,Drama,7.3,16,Sanjay Amar,Mumtaz Ahmed,Bidita Bag,Madhuri Bhatia
47,2 Band Radio,-2019.0,NaN,Comedy,NaN,NaN,Saki Shah,Bilal Ahamad Bhagat,Neelu Dogra,Rahat Kazmi
48,2 GB Ki Life,NaN,NaN,Drama,NaN,NaN,NaN,NaN,NaN,NaN
49,2 Little Indians,-2013.0,NaN,"Comedy, Family",5.6,14,Ravi Bhatia,Ravi Bhatia,Ronak Bhatia,Kamal Chopra

In [8]:
df2=df.copy()

In [9]:
df2.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),-2019.0,109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,-2021.0,90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,-2019.0,110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,-2010.0,105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [10]:
df2.shape

(15509, 10)

In [11]:
#df2['Genre'].dropna()

In [12]:
new_genre = df2["Genre"].str.split(",", n=1, expand=True)

In [13]:
df2['Duration'] = pd.to_numeric(df2['Duration'].str.replace('[^\d]', '', regex=True))

In [14]:
df2.isnull().sum()

Name           0
Year         528
Duration    8269
Genre       1877
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [15]:
df3=df2.copy()

In [16]:
df3["Genre1"] = new_genre[0]
df3["Genre2"] = new_genre[1]
df3 = df3.drop("Genre",axis=1)
df3.head()

,Name,Year,Duration,Rating,Votes,Director,Actor 1,Actor 2,Actor 3,Genre1,Genre2
0,,NaN,NaN,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia,Drama,None
1,#Gadhvi (He thought he was Gandhi),-2019.0,109.0,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid,Drama,None
2,#Homecoming,-2021.0,90.0,NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana,Drama,Musical
3,#Yaaram,-2019.0,110.0,4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor,Comedy,Romance
4,...And Once Again,-2010.0,105.0,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali,Drama,None

In [17]:
df3['Duration'] = df3['Duration'].fillna(df3['Duration'].median())

In [18]:
df3.isnull().sum()

Name           0
Year         528
Duration       0
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
Genre1      1877
Genre2      9308
dtype: int64

In [19]:
#Dropping the columns having more than 5000 missing values(genre2, Actor3)
df4 = df3.drop(columns=['Genre2','Actor 3', 'Year'], axis=1)

In [20]:
df4.head()

,Name,Duration,Rating,Votes,Director,Actor 1,Actor 2,Genre1
0,,131.0,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Drama
1,#Gadhvi (He thought he was Gandhi),109.0,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Drama
2,#Homecoming,90.0,NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Drama
3,#Yaaram,110.0,4.4,35,Ovais Khan,Prateik,Ishita Raj,Comedy
4,...And Once Again,105.0,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Drama

In [21]:
df4.isnull().sum()

Name           0
Duration       0
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Genre1      1877
dtype: int64

In [22]:
df5 = df4.dropna(subset=['Rating'])

In [23]:
df5.head()

,Name,Duration,Rating,Votes,Director,Actor 1,Actor 2,Genre1
1,#Gadhvi (He thought he was Gandhi),109.0,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Drama
3,#Yaaram,110.0,4.4,35,Ovais Khan,Prateik,Ishita Raj,Comedy
5,...Aur Pyaar Ho Gaya,147.0,4.7,827,Rahul Rawail,Bobby Deol,Aishwarya Rai Bachchan,Comedy
6,...Yahaan,142.0,7.4,"1,086",Shoojit Sircar,Jimmy Sheirgill,Minissha Lamba,Drama
8,?: A Question Mark,82.0,5.6,326,Allyson Patel,Yash Dave,Muntazir Ahmad,Horror

In [24]:
df5.isnull().sum()

Name          0
Duration      0
Rating        0
Votes         0
Director      5
Actor 1     125
Actor 2     200
Genre1      102
dtype: int64

In [25]:
df6=df5.dropna()

In [26]:
df6.isnull().sum()

Name        0
Duration    0
Rating      0
Votes       0
Director    0
Actor 1     0
Actor 2     0
Genre1      0
dtype: int64

In [40]:
df6.shape

(7641, 8)

In [32]:
df6['Votes'] = df6['Votes'].str.replace(',', '').astype(int)

C:\Users\Mahima Nair\AppData\Local\Temp\ipykernel_1088\3863123988.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['Votes'] = df6['Votes'].str.replace(',', '').astype(int)

In [47]:
df6['Votes'].dtype

dtype('int32')

In [34]:
df6.head()

,Name,Duration,Rating,Votes,Director,Actor 1,Actor 2,Genre1
1,#Gadhvi (He thought he was Gandhi),109.0,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Drama
3,#Yaaram,110.0,4.4,35,Ovais Khan,Prateik,Ishita Raj,Comedy
5,...Aur Pyaar Ho Gaya,147.0,4.7,827,Rahul Rawail,Bobby Deol,Aishwarya Rai Bachchan,Comedy
6,...Yahaan,142.0,7.4,1086,Shoojit Sircar,Jimmy Sheirgill,Minissha Lamba,Drama
8,?: A Question Mark,82.0,5.6,326,Allyson Patel,Yash Dave,Muntazir Ahmad,Horror

In [48]:
df6['Votes'].describe()

count      7641.000000
mean       2007.769402
std       11805.825912
min           5.000000
25%          17.000000
50%          59.000000
75%         447.000000
max      591417.000000
Name: Votes, dtype: float64

In [49]:
df7 = df6[df6['Votes'] >= 20]

In [50]:
df7.head()

,Name,Duration,Rating,Votes,Director,Actor 1,Actor 2,Genre1
3,#Yaaram,110.0,4.4,35,Ovais Khan,Prateik,Ishita Raj,Comedy
5,...Aur Pyaar Ho Gaya,147.0,4.7,827,Rahul Rawail,Bobby Deol,Aishwarya Rai Bachchan,Comedy
6,...Yahaan,142.0,7.4,1086,Shoojit Sircar,Jimmy Sheirgill,Minissha Lamba,Drama
8,?: A Question Mark,82.0,5.6,326,Allyson Patel,Yash Dave,Muntazir Ahmad,Horror
11,1:13:7 Ek Tera Saath,120.0,5.9,59,Arshad Siddiqui,Pankaj Berry,Anubhav Dhir,Horror

In [51]:
df7.shape

(5539, 8)

In [52]:
df7['Director'].nunique()

2177

In [53]:
df7['Actor 1'].nunique()

1718

In [54]:
df7['Genre1'].nunique()

20

#df9 = df6
actor1_ratings = df9.groupby('Actor 1')['Rating'].mean()
actor2_ratings = df9.groupby('Actor 2')['Rating'].mean()
director_ratings = df9.groupby('Director')['Rating'].mean()

mapping_dict_actor1 = actor1_ratings.to_dict()
mapping_dict_actor2 = actor2_ratings.to_dict()
mapping_dict_director = director_ratings.to_dict()

dfa1=pd.DataFrame(list(mapping_dict_actor1.items()),columns=['Actor 1', 'Rating'])
dfa2=pd.DataFrame(list(mapping_dict_actor2.items()),columns=['Actor 2', 'Rating'])
dfa3=pd.DataFrame(list(mapping_dict_director.items()),columns=['Director', 'Rating'])

dfa1.head()

average_ratings = df6.groupby('Actor 1')['Rating'].mean()

average_ratings

average_ratings.isnull().sum()

mapping_dict = average_ratings.to_dict()

mapping_dict

dft=pd.DataFrame(list(mapping_dict.items()),columns=['Actor 1', 'Rate'])

dft.head()

 dft.to_csv("Ratings.csv", index=False)

df7=df6

df4.isnull().sum()

df7['name_avg_rating'] = df7['Actor 1'].map(mapping_dict)

In [55]:
df7.head()

,Name,Duration,Rating,Votes,Director,Actor 1,Actor 2,Genre1
3,#Yaaram,110.0,4.4,35,Ovais Khan,Prateik,Ishita Raj,Comedy
5,...Aur Pyaar Ho Gaya,147.0,4.7,827,Rahul Rawail,Bobby Deol,Aishwarya Rai Bachchan,Comedy
6,...Yahaan,142.0,7.4,1086,Shoojit Sircar,Jimmy Sheirgill,Minissha Lamba,Drama
8,?: A Question Mark,82.0,5.6,326,Allyson Patel,Yash Dave,Muntazir Ahmad,Horror
11,1:13:7 Ek Tera Saath,120.0,5.9,59,Arshad Siddiqui,Pankaj Berry,Anubhav Dhir,Horror

In [57]:
df7.shape

(5539, 8)

In [61]:
def merge_dicts(dict1, dict2):
    merged_dict = {}
    
    # Get all keys from both dictionaries
    all_keys = set(dict1.keys()).union(set(dict2.keys()))
    
    for key in all_keys:
        if key in dict1 and key in dict2:
            # If key is in both dictionaries, compute the mean
            merged_dict[key] = (dict1[key] + dict2[key]) / 2
        elif key in dict1:
            # If key is only in dict1
            merged_dict[key] = dict1[key]
        else:
            # If key is only in dict2
            merged_dict[key] = dict2[key]
    
    return merged_dict

In [62]:
def df_name_to_rating(df):
    actor1_ratings = df.groupby('Actor 1')['Rating'].mean()
    actor2_ratings = df.groupby('Actor 2')['Rating'].mean()
    director_ratings = df.groupby('Director')['Rating'].mean()
    
    mapping_dict_actor1 = actor1_ratings.to_dict()
    mapping_dict_actor2 = actor2_ratings.to_dict()
    merged_actor_dict = merge_dicts(mapping_dict_actor1,mapping_dict_actor2)
    mapping_dict_director = director_ratings.to_dict()
    
    df_at=pd.DataFrame(list(merged_actor_dict.items()),columns=['Actor', 'Rating_Actor'])
    #dfa2=pd.DataFrame(list(mapping_dict_actor2.items()),columns=['Actor 2', 'Rating_Actor2'])
    df_dr=pd.DataFrame(list(mapping_dict_director.items()),columns=['Director', 'Rating_Director'])

    #merged_actor_df = pd.merge(dfa1, dfa2, left_on='Actor 1', right_on='Actor 2', how='outer')
   

    #df_final = pd.concat([dfa1, dfa2, dfa3], sort=False)
    
    # Save DataFrame to CSV
    df_at.to_csv("Actor_Ratings.csv", index=False)
    df_dr.to_csv("Director.csv", index=False)
    
    df['Actor 1'] = df['Actor 1'].map(mapping_dict_actor1)
    df['Actor 2'] = df['Actor 2'].map(mapping_dict_actor2)
    df['Director'] = df['Director'].map(mapping_dict_director)
    
    return df

In [63]:
df8=df7.copy()

In [64]:
df8 = df_name_to_rating(df8)

In [65]:
df8.head()

,Name,Duration,Rating,Votes,Director,Actor 1,Actor 2,Genre1
3,#Yaaram,110.0,4.4,35,4.400000,5.420000,4.400000,Comedy
5,...Aur Pyaar Ho Gaya,147.0,4.7,827,5.358824,4.788889,5.786667,Comedy
6,...Yahaan,142.0,7.4,1086,7.500000,5.300000,6.050000,Drama
8,?: A Question Mark,82.0,5.6,326,5.600000,5.600000,6.320000,Horror
11,1:13:7 Ek Tera Saath,120.0,5.9,59,6.950000,6.050000,5.900000,Horror

In [66]:
df8.shape

(5539, 8)

In [34]:
# Convert dictionary to DataFrame
#df = pd.DataFrame(data)

# Specify the CSV file path
#csv_file = 'data.csv'

#df = pd.read_csv('data.csv')

# Find the rating of 'abc'
#rating_of_abc = df[df['name'] == 'abc']['Rating'].values[0]

In [67]:
df_actor_rating= pd.read_csv("Actor_Ratings.csv")
df_actor_rating.head()

                Actor  Rating_Actor
0  Prashant Narayanan      4.787500
1         Babu Antony      5.100000
2        Rishi Kapoor      6.072555
3     Sheikh Fattelal      7.300000
4     Pankaj Tripathi      6.050000

In [68]:
df_actor_rating.shape

(3119, 2)

In [69]:
df_dr_rating= pd.read_csv("Director.csv")
df_dr_rating.head()

               Director  Rating_Director
0          A. Bhimsingh         6.780000
1        A. Jagannathan         5.833333
2  A. Kodandarami Reddy         7.200000
3              A. Majid         5.700000
4              A. Muthu         3.000000

In [71]:
df9 = df8.drop(columns=["Votes","Name"], axis=1)
df9.head()

    Duration  Rating  Director   Actor 1   Actor 2  Genre1
3      110.0     4.4  4.400000  5.420000  4.400000  Comedy
5      147.0     4.7  5.358824  4.788889  5.786667  Comedy
6      142.0     7.4  7.500000  5.300000  6.050000   Drama
8       82.0     5.6  5.600000  5.600000  6.320000  Horror
11     120.0     5.9  6.950000  6.050000  5.900000  Horror

In [72]:
#use get_dummies function of pandas to perform one hot encoding(changing categorical to binary attributes)
dummies = pd.get_dummies(df9.Genre1)
dummies.head()

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War
3,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False

In [73]:
#def input_name_to_rating(name):

genre_stats = df8.groupby('Genre1')['Genre1'].agg('count').sort_values(ascending=False)
genre_stats

Genre1
Action         1717
Drama          1713
Comedy         1011
Crime           266
Romance         159
Horror          112
Musical          89
Adventure        83
Biography        77
Thriller         77
Mystery          56
Family           52
Documentary      48
Animation        38
Fantasy          23
Sci-Fi            5
History           5
Music             3
War               3
Sport             2
Name: Genre1, dtype: int64

In [74]:
df10 = pd.concat([df9,dummies.drop('War',axis='columns')], axis='columns') #to avoid a dummy variable trap in one hot encoding, we can drop one column and to represent the value of 1st column use 00000...00
df10.head()

,Duration,Rating,Director,Actor 1,Actor 2,Genre1,Action,Adventure,Animation,Biography,...,Fantasy,History,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller
3,110.0,4.4,4.400000,5.420000,4.400000,Comedy,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,147.0,4.7,5.358824,4.788889,5.786667,Comedy,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,142.0,7.4,7.500000,5.300000,6.050000,Drama,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,82.0,5.6,5.600000,5.600000,6.320000,Horror,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
11,120.0,5.9,6.950000,6.050000,5.900000,Horror,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False

In [75]:
df10 = df10.drop("Genre1", axis=1)

In [76]:
df10.head()

,Duration,Rating,Director,Actor 1,Actor 2,Action,Adventure,Animation,Biography,Comedy,...,Fantasy,History,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller
3,110.0,4.4,4.400000,5.420000,4.400000,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
5,147.0,4.7,5.358824,4.788889,5.786667,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
6,142.0,7.4,7.500000,5.300000,6.050000,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,82.0,5.6,5.600000,5.600000,6.320000,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
11,120.0,5.9,6.950000,6.050000,5.900000,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False

### Machine Learning model built

In [79]:
X = df10.drop(columns=["Rating"], axis=1)
X.head()

,Duration,Director,Actor 1,Actor 2,Action,Adventure,Animation,Biography,Comedy,Crime,...,Fantasy,History,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller
3,110.0,4.400000,5.420000,4.400000,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
5,147.0,5.358824,4.788889,5.786667,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
6,142.0,7.500000,5.300000,6.050000,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,82.0,5.600000,5.600000,6.320000,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
11,120.0,6.950000,6.050000,5.900000,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False

In [81]:
Y = df10["Rating"]
Y.head()

3     4.4
5     4.7
6     7.4
8     5.6
11    5.9
Name: Rating, dtype: float64

In [82]:
#Train test splitting
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.2, random_state=10)

In [84]:
#To improve the accuracy by k folds cross validation of dataset to find optimal mix of data that provides max information and makes a good model
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5,test_size=0.2, random_state=0)

cross_val_score(LinearRegression(), X, Y, cv=cv)

array([0.74312025, 0.74602477, 0.7459238 , 0.72426313, 0.73489812])

In [85]:
#To try different regressor models and find out which one gives the best score
#Use Grid Search CV for this method

from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

def find_best_model_using_gridSearchCV(X,y):
    #python dictionary of algos to compare
    algos = {
        'linear_regression': {
            'model': LinearRegression(),
            'params': {
                #'normalize':[True, False]
            }
        },
        'lasso' :{
            'model':Lasso(),
            'params':{
                'alpha':[1,2],
                'selection':['random','cyclic']
            }
        },
        'decision_tree': {
            'model': DecisionTreeRegressor(),
            'params':{
                'criterion': ['squared_error','friedman_mse'],
                'splitter':['best', 'random']
            }
        }
    }
    
#The gridSearch method will not only search the best model, but will also find the best hyperparameters for the model. This is known as Hyperparameter Tuning
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    for algo_name, config in algos.items():
        gs = GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model':algo_name,
            'best_score':gs.best_score_,
            'best_params':gs.best_params_
        })
        #Training each of the model and finding the score might take time

        #return the score of each of the model for us to evaluate the best one
    return pd.DataFrame(scores, columns=['model','best_score','best_params'])

In [86]:
find_best_model_using_gridSearchCV(X,Y)

,model,best_score,best_params
0,linear_regression,0.738846,{}
1,lasso,0.189081,"{'alpha': 1, 'selection': 'cyclic'}"
2,decision_tree,0.502049,"{'criterion': 'friedman_mse', 'splitter': 'best'}"

In [87]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression

# Number of subsets
num_subsets = 10

# To store the results
predictions = []
actuals = []
errors = []

# Train-test splits and model training
for _ in range(num_subsets):
    X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)
    model = LinearRegression()
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    
    predictions.append(y_pred)
    actuals.append(y_test)
    errors.append(y_test - y_pred)

# Convert lists to arrays for easier manipulation
predictions = np.array(predictions)
actuals = np.array(actuals)
errors = np.array(errors)

# Calculate the mean prediction for each data point
mean_predictions = np.mean(predictions, axis=0)

# Bias calculation: mean error
bias = np.mean(errors)

# Variance calculation: average of the squared differences between each prediction and the mean prediction
variance = np.mean((predictions - mean_predictions) ** 2)

print(f'Bias: {bias}')
print(f'Variance: {variance}')

Bias: -0.007139622690085557
Variance: 1.234529084432444

In [88]:
from sklearn.linear_model import LinearRegression
linearModel = LinearRegression()
linearModel.fit(X_train, y_train)
linearModel.score(X_test, y_test)

0.7354593230839024

In [89]:
X_train.columns

Index(['Duration', 'Director', 'Actor 1', 'Actor 2', 'Action', 'Adventure',
       'Animation', 'Biography', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Family', 'Fantasy', 'History', 'Horror', 'Music', 'Musical', 'Mystery',
       'Romance', 'Sci-Fi', 'Sport', 'Thriller'],
      dtype='object')

In [97]:
#both linear and lasso is giving a good result compared to decision tree
#Choosing Linear(85.7%) score 
#linear is already trained in cell 71

def predict_rate(duration,director,actor1,actor2,genre):
    genre_index = np.where(X.columns==genre)[0][0]  #find location index and set that particular index value in predict array to 1 thereby converting it to binary for simpler model built
    x = np.zeros(len(X.columns))
    x[0] = duration
    x[1] = df_dr_rating[df_dr_rating['Director'] == director]['Rating_Director'].values[0]
    x[2] = df_actor_rating[df_actor_rating['Actor'] == actor1]['Rating_Actor'].values[0]
    x[3] = df_actor_rating[df_actor_rating['Actor'] == actor2]['Rating_Actor'].values[0]

    
    if genre_index >0:
        x[genre_index] = 1
    return linearModel.predict([x])[0]

In [100]:
df_actor_rating.head(100)

                 Actor  Rating_Actor
0   Prashant Narayanan      4.787500
1          Babu Antony      5.100000
2         Rishi Kapoor      6.072555
3      Sheikh Fattelal      7.300000
4      Pankaj Tripathi      6.050000
..                 ...           ...
95         Vijay Anand      6.491667
96        Allan Border      3.800000
97        Pankaj Berry      6.425000
98            Aga Jaan      7.600000
99            Lalu Ram      8.000000

[100 rows x 2 columns]

In [101]:
predict_rate(109,"Abrar Alvi","Rishi Kapoor","Pankaj Tripathi","Action")

C:\Users\Mahima Nair\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

7.218758786499569

In [102]:
df11 = df9.drop(columns=["Genre1"], axis=1)
a=(np.var(X,axis=0))
a

Duration       546.727531
Director         1.198446
Actor 1          1.024763
Actor 2          1.081624
Action           0.213894
Adventure        0.014760
Animation        0.006813
Biography        0.013708
Comedy           0.149209
Crime            0.045717
Documentary      0.008591
Drama            0.213619
Family           0.009300
Fantasy          0.004135
History          0.000902
Horror           0.019811
Music            0.000541
Musical          0.015810
Mystery          0.010008
Romance          0.027882
Sci-Fi           0.000902
Sport            0.000361
Thriller         0.013708
dtype: float64